<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoBar"
        tools:targetApi="31">
        <activity
            android:name=".AccountSettings"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FAQ"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MapSettings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GeneralSettings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageSocialAnnouncement"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageSocialEvent"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageAnnouncement"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageEvent"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Statute"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setup.ForgotPassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Leaderboard"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Points"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setup.LoginUser"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setup.RegisterUser"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AhoyAnnouncements"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnnouncementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddAnnouncement"
            android:exported="false"
            android:isScrollContainer="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EventLocalizationPreview"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setup.TellSomething"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Pay"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setup.Login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setup.RegisterOrLogin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventLocalVirtualAnnouncement"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddLocalEvent"
            android:exported="false"
            android:isScrollContainer="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EnableInternetConnection"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EnableLocalization"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapActivityMain"
            android:exported="false"
            android:isScrollContainer="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoadingScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Setup.setup"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Setup.Register"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBrLErnn9oVotqlNGhRGvuzNs9k3ALp-hQ" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9137887034279886~7955478960" />
    </application>

</manifest>