<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ahoy_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoBar"
        tools:targetApi="31">
        <activity
            android:name="com.chatoyment.ahoyapp.Setup.setup"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.chatoyment.ahoyapp.Setup.Register"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.chatoyment.ahoyapp.Competition"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.CompetitionsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.ManageCompetition"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.AddCompetition"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.Received_Invites"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.FriendsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.chatoyment.ahoyapp.AccountSettings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.FAQ"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.MapSettings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.GeneralSettings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.ReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.ManageSocialAnnouncement"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.ManageSocialEvent"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.ManageAnnouncement"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.ManageEvent"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.Manage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.Statute"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.Setup.ForgotPassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.Leaderboard"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.Points"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.Setup.LoginUser"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.Setup.RegisterUser"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.AhoyAnnouncements"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.AnnouncementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.AddAnnouncement"
            android:exported="false"
            android:isScrollContainer="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.chatoyment.ahoyapp.EventLocalizationPreview"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.Setup.TellSomething"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.Pay"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.Setup.Login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.Setup.RegisterOrLogin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.SelectWhatToAdd"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.EventActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.AddLocalEvent"
            android:exported="false"
            android:isScrollContainer="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.chatoyment.ahoyapp.EnableInternetConnection"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.EnableLocalization"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chatoyment.ahoyapp.MapActivityMain"
            android:exported="false"
            android:isScrollContainer="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.chatoyment.ahoyapp.LoadingScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBrLErnn9oVotqlNGhRGvuzNs9k3ALp-hQ" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9137887034279886~7955478960" />
    </application>

</manifest>